@use "../../../scss/mixins";
@use "../../../scss/settings";

.filterBLock {
  padding: 20px;
  height: fit-content;
  background-color: settings.$darkWhite;
}

.title {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 14px;
  border-bottom: 1px solid settings.$stroke;
  margin-bottom: 25px;

  @include mixins.media-max(settings.$sm-break) {
    font-size: 16px;
    line-height: 24px;
  }
}